# Safety net for Firebase credentials
firebase-service-account.json

# Environment Variables
.env
.env.local

# Redis local database dumps
dump.rdb

# =========================
# Python & FastAPI
# =========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Pytest / Coverage 
.pytest_cache/
.coverage
htmlcov/

# =========================
# OS & IDE Files
# =========================
# Mac
.DS_Store

# VS Code / PyCharm
.vscode/
.idea/